/* You can add global styles to this file, and also import other style files */
input, select {
    border-radius: 5px;
}
#pageTitle {
    font-size: 1.8em;
    font-weight: bold;
}
#sectionTitle {
    font-size: 1.4em;
    font-weight: bold;
}